body {
    background: url('desert.jpeg');
    background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}


h1.name {
    color:#E9E7E6; 
    padding-left: 335px;
    padding-top: 250px;
    font-size: 110px;
    padding-bottom: 0px;
    font-family: 'Zen Loop', cursive;
}

p.credits {
    color: #E9E7E6;
    padding-left: 558px;
    font-size: 18px;
    margin-bottom: 0px;
    padding-top: 300px;
    font-family: 'Montserrat', sans-serif;
}

nav ul {
 	margin-left: 1150px;
 	padding: 0;
 	list-style: none;
}

nav li {
  	display: inline-block;
	margin: 10px;
}		

nav a {
	color: white;
 	text-decoration: none;
  	text-transform: uppercase;
  	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}

h1.hello {
    color:#E9E7E6; 
    padding-left: 200px;
    padding-top: 165px;
    font-size: 25px;
    margin: 0px;
    padding-bottom: 0px;
    font-family: 'Red Hat Display', sans-serif;
}

p.about {
    color:#E9E7E6; 
    padding-left: 200px;
    padding-top: 0px;
    margin: 0px;
    font-size: 35px;
    padding-bottom: 0px;
    font-family: 'Josefin Sans', sans-serif;
    text-align: justify;
}

p {
    color: #E9E7E6;
    padding-left: 558px;
    font-size: 18px;
    margin-bottom: 0px;
    padding-top: 139px;
    font-family: 'Montserrat', sans-serif;
}

.image {
    width: 400px;
    height: 400px;
    float: right;
    margin-top: 165px;
    margin-right: 180px;
    border-radius: 50%;
}

h1.works {
    color:#E9E7E6; 
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
    font-size: 80px;
    font-family: 'Zen Loop', cursive;
}

p.credit {
    color: #E9E7E6;
    padding-left: 565px;
    font-size: 18px;
    margin-bottom: 0px;
    padding-top: 575px;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 15px;
}

.row {
    margin: 0px -18px;
    padding: 8px;
}
 
.row > .column {
    padding: 6px;
}
 
.column {
    margin-left: 80px;
    float: left;
    width: 25%;
}

.content {
    background-color: white;
    padding: 10px;
}

@media screen and (max-width: 850px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 400px) {
    .column {
        width: 100%;
    }
}

.column5 {
    margin-right: 110px;
    margin-top: 10px;
    float: right;
    width: 25%;
}

.content5 {
    background-color: white;
    padding: 10px;
    width: 345px;
    margin-bottom: 0px;
}

h3 {
	color: black;
 	text-decoration: none;
  	text-transform: uppercase;
  	font-size: 18px;
	font-family: 'Arial Bold';
}


