body {
	background-image: url('hands.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
			
#background {
	opacity: 0.7;
	width: 1420px;
	height: 710px;
	padding: 2px;
	background-color: rgb(242, 244, 244);
	float: center;
}
			
h1.quote {
	text-align: center;
	padding-top: 160px;
	padding-left: 300px;
	width: 60%;
	font-size: 60px;
}

h2.nelson {
	text-align: center;
}

nav {
	background-color: white;
	width: 100%;
}

nav ul {
 	margin-left: 40px;
 	padding: 0;
 	list-style: none;
}

nav li {
  	display: inline-block;
  	position: relative;
	margin: 20px;
}		

nav a {
	color: black;
 	text-decoration: none;
  	text-transform: uppercase;
  	font-size: 18px;
	font-family: 'Arial Bold';
}
			
#sbackground {
	opacity: 0.7;
	width: 1000px;
	height: 720px;
	margin: auto;
	background-color: white;
}
			
h1.stitle {
	text-align: center;
	padding-top: 25px;
	font-family: 'Georgia';
	text-transform: uppercase;
	font-size: 35px;
}			

h3.sintro {
	text-align: justify;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	text-indent: 75px;
	font-family: 'Playfair'
}
			
#section {
	width: 900px;
	height: auto;
	margin: auto;
	background-color: white;
	opacity: 0.7;
}
			
h4.stitle1 {
	text-align: center;
	font-size: 35px;
	padding-top: 50px;
	font-family: 'Impact';
}

p.solution1 {
	font-size: 20px;
	text-align: justify;
	text-indent: 53px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

h4.stitle2 {
	text-align: center;
	font-size: 35px;
	padding-top: 50px;
	font-family: 'Impact';
}

p.solution2 {
	font-size: 20px;
	text-align: justify;
	text-indent: 65px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

h4.stitle3 {
	text-align: center;
	font-size: 35px;
	padding-top: 50px;
	font-family: 'Impact';
}

p.solution3 {
	font-size: 20px;
	text-align: justify;
	text-indent: 75px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

h4.stitle4 {
	text-align: center;
	font-size: 35px;
	padding-top: 50px;
	font-family: 'Impact';
}

p.solution4 {
	font-size: 20px;
	text-align: justify;
	text-indent: 80px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

h4.stitle5 {
	text-align: center;
	font-size: 35px;
	padding-top: 50px;
	font-family: 'Impact';
}

p.solution5 {
	font-size: 20px;
	text-align: justify;
	text-indent: 80px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

#ibackground {
	opacity: 0.7;
	width: 700px;
	height: 430px;
	margin-left: 20px;
	margin-bottom: 20px;
	background-color: rgb(242, 244, 244);
	float: center;
}

h1.ititle {
	text-align: left;
	padding-top: 25px;
	font-family: 'Georgia';
	text-transform: uppercase;
	font-size: 35px;
	padding-left: 20px;
}

h3.iintro {
	text-indent: 85px;
	text-align: justify;
	font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 2px;
	font-family: 'Playfair'
}

h3.iintrocon {
	text-indent: 80px;
	text-align: justify;
	font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 2px;
	font-family: 'Playfair'
}

#isection {
	width: 700px;
	height: 580px;
	margin-bottom: 20px;
	margin-left: 20px;
	background-color: white;
	opacity: 0.7;
	float: left;
}

h2.causes {
	text-align: left;
	padding-left: 20px;
	font-size: 35px;
	font-family: 'Impact';
}

p.cause1 {
	text-align: left;
	padding-left: 20px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

p.cause2 {
	text-align: left;
	padding-left: 20px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

p.cause3 {
	text-align: left;
	padding-left: 20px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

p.cause4 {
	text-align: left;
	padding-left: 20px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

p.cause5 {
	text-align: left;
	padding-left: 20px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

p.cause6 {
	text-align: left;
	padding-left: 20px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

p.cause7 {
	text-align: left;
	padding-left: 20px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p.cause8 {
	text-align: left;
	padding-left: 20px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p.cause9 {
	text-align: left;
	padding-left: 20px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p.cause10 {
	text-align: left;
	padding-left: 20px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p.cause11 {
	text-align: left;
	padding-left: 20px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img.poverty {
	width: 655px;
	height: 430px;
	padding: 8px;
	padding-right: 20px;
}

#isection2 {
	width: 650px;
	height: 580px;
	margin-right: 20px;
	background-color: white;
	opacity: 0.7;
	float: right;
	margin-bottom: 20px;
}

h2.effects {
	text-align: left;
	padding-left: 20px;
	font-size: 35px;
	font-family: 'Impact';
}

p.effect1 {
	text-align: left;
	padding-left: 20px;
	font-weight: bold;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p.e1desc {
	text-align: left;
	padding-left: 20px;
	text-align: justify;
	padding-right: 20px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p.effect2 {
	text-align: left;
	padding-left: 20px;
	font-weight: bold;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p.e2desc {
	text-align: left;
	padding-left: 20px;
	text-align: justify;
	padding-right: 20px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p.effect3 {
	text-align: left;
	padding-left: 20px;
	font-weight: bold;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p.e3desc {
	text-align: left;
	padding-left: 20px;
	text-align: justify;
	padding-right: 20px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p.effect4 {
	text-align: left;
	padding-left: 20px;
	font-weight: bold;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p.e4desc {
	text-align: left;
	padding-left: 20px;
	text-align: justify;
	padding-right: 20px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#gbackground {
	opacity: 0.8;
	width: 850px;
	height: 2650px;
	margin: auto;
	background-color: white;
}

#gallery {
	width: 700px;
	height: 400px;
	margin: auto;
}

h1.gtitle {
	text-align: left;
	padding-top: 25px;
	padding-left: 20px;
	font-size: 35px;
}
			
img.galleryimg {
	width: 700px;
	height: 450px;
	padding-right: 100px;
}

p.gdesc {
	text-align: center;
}

p.gdesc1 {
	text-align: center;
}

p.gdesc2 {
	text-align: center;
}

p.gdesc3 {
	text-align: center;
}

p.gdesc4 {
	text-align: center;
}

#abackground {
	opacity: 0.7;
	width: 800px;
	height: 450px;
	margin: auto;
	background-color: white;
}

h1.atitle {
	padding-top: 20px;
	padding-left: 20px;
	font-size: 35px;
}

p.abtus {
	padding-left: 20px;
	font-size: 20px;
	text-align: justify;
	padding-right: 20px;
	text-indent: 50px;
}

h1.atitle1 {
	padding-top: 20px;
	padding-left: 20px;
	font-size: 35px;
}

p.contact {
	padding-left: 20px;
	font-size: 20px;
	text-align: justify;
	padding-right: 20px;
	text-indent: 20px;
}

p.contact1 {
	padding-left: 20px;
	font-size: 20px;
	text-align: justify;
	padding-right: 20px;
	text-indent: 20px;
}

p.contact2 {
	padding-left: 20px;
	font-size: 20px;
	text-align: justify;
	padding-right: 20px;
	text-indent: 20px;
}